<div class="login container">
    <div *ngIf="!isLoggedIn()">
        <div class="row">
            <div class="col-xs-8">
                <input class="input" placeholder="Username" [(ngModel)]="username">
                <input class="input" placeholder="Password" [(ngModel)]="password">
            </div>
            <div class="col-xs-4">
                <button (click)="loginUser()">Login</button>
            </div>
        </div>
    </div>
    <div *ngIf="isLoggedIn()">
        <div class="row">
            <button (click)="logoutUser()">Log out</button>
        </div>
    </div>
</div>