$menuWidth: 250px;
$menuBackgroundColor: rgba( 169, 169, 169, 0.8);
$brandColor: #999999;
$brandHoverColor: #fff;
$linkColor: #999999;
$linkHoverColor: #fff;

.side-menu {
  min-height: 100vh;
  max-height: 100%;
  position: absolute;
  top: 0;
  margin: 0 auto;
  width: $menuWidth;
  z-index: 1;
  background-color: $menuBackgroundColor;
  overflow-x: hidden;
  transition: 0.5s;
  &.expanded {
    left: 0;
  }
  &.contracted {
    left: -$menuWidth + 1px;
  }
}

.side-menu-header {
  margin-left: 20px;
  font-size: 20px;
  padding-bottom: 20px;
}

.input-search {
  font-size: 15px;
  margin-left: 20px;
}

.side-menu-boards-container {
  overflow-y: auto;
  height: 40%;
}

.side-menu-boards-list {
  top: 0;
  margin: 0;
  list-style: none;
  padding-top: 20px;
  li {
    font-size: 18px;
    a {
      display: block;
      text-decoration: none;
      color: $linkColor;
      &:hover {
        text-decoration: none;
        color: $linkHoverColor;
        cursor: pointer;
      }
      &:active,
      &:focus {
        text-decoration: none;
      }
    }
  }
}

::-webkit-scrollbar {
  display: none
}
