<div [ngClass]="'side-menu ' + (sideMenuOpened ? 'expanded' : 'contracted')">
  <div class="row side-menu-main">
    <a (click)="toggleSideMenu()">ng2Board</a>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search" id="search-term">
    </div>
  </div>
  <br>
  <br>
  <div class="side-menu-boards-container">
    <button type="button" (click)="openCreateBoardModal()">Create board</button>
    <ul class="side-menu-boards-list">
      <li *ngFor="let board of boards">
        <a [routerLink]="['/board', board.id]">{{board.name}}</a>
      </li>
    </ul>
  </div>
  <app-login></app-login>
</div>
<app-create-board #createBoardModal></app-create-board>
