$menuWidth: 250px;
$menuBackgroundColor: royalblue;

.sideMenu {
    height: 100%;
    width: $menuWidth;
    position: absolute;
    z-index: 1;
    top: 0;
    
    background-color: $menuBackgroundColor;
    overflow-x: hidden;
    padding-top: 30px;
    transition: 0.5s;

    &.expanded {
        left: 0;
    }

    &.contracted {
        left: -$menuWidth + 20px;
    }
}

