<h1 class="data-test-board-title pull-right">{{board.title}}</h1>
<div id="tabla" class="tabla" appDragNDrop>
  <div>
    <button class="data-test-add-note" (click)="openDialog()" type="button">Add note</button>
  </div>
  <app-note *ngFor="let note of board.notes" [note]="note">
  </app-note>
</div>
<div #modal id="addNoteModal" (click)="checkForClosing($event.target)" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span (click)="closeDialog()" class="close">&times;</span>
      <h2>Add note</h2>
    </div>
    <div class="modal-body">
      <textarea #textarea placeholder="Place your note here..."></textarea>
    </div>
    <div class="modal-footer">
      <button>Submit</button>
    </div>
  </div>
</div>
