.note{
    background-color: #EEEEA8;
    width: 150px;
    word-wrap: break-word;
    position: absolute;
    resize: both;
    box-shadow: 1px 1px 10px #888;
    padding: 10px 10px 20px 10px;

    .note-author {
        position: absolute;
        bottom: 0;
        right: 10px;
        font-style: italic;
        font-size: .9em;
    }
}

